.grid {
  align-items: center;
  display: grid;

  &.cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}


.leaders {
  border-bottom: 3px dotted $light;
}

.sizing-border {
  box-sizing: border-box;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}
