@use "sass:color";

@import "normalize.css";

@import "./styles/palette.scss";

html,
body {
  background-color: $background;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

@import "./styles/font-sizes.scss";
@import "./styles/flex.scss";
@import "./styles/spacing.scss";

@import "./styles/meals.scss";

.table-grid {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1rem;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  height: 100vmin;
  padding: 1rem;
  width: 100vmin;
}

.button {
  align-items: center;
  background: linear-gradient(to bottom right, $light, $primary);
  box-shadow: none;
  border: 0;
  border-radius: 0.375rem;
  color: $background;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  padding: 0.25rem 0.5rem;
  transition: all 0.25s ease-out;

  &[disabled] {
    background: linear-gradient(
      to bottom right,
      desaturate($color: $light, $amount: 40%),
      desaturate($color: $primary, $amount: 40%)
    );
    color: lighten($color: $background, $amount: 30%);
    cursor: not-allowed;
  }

  &, &:active, &:focus {
    filter: brightness(1);
  }

  &:hover {
    filter: brightness(0.9);
  }
}

.side-panel {
  align-items: center;
  background-color: $secondary;
  color: $light;
  display: flex;
  justify-content: center;
  flex: 1;
}

.app-container {
  display: flex;
  flex-flow: row nowrap;
}

.table-tile {
  background: linear-gradient(to bottom, $primary, $secondary);
  border-radius: 0.5rem;
  color: $light;
  flex-direction: column;
  padding: 0.5rem;
}

.table-settings-container {
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.grid {
  align-items: center;
  display: grid;

  &.cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.width-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.leaders {
  border-bottom: 3px dotted $light;
}

hr {
  background-color: $light;
  border: 0;
  height: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
}
